@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #333;
  letter-spacing: .2rem;
  background-color: #fff;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  line-height: 2; }
  body a {
    color: inherit;
    text-decoration: none; }
  body ul {
    list-style: none; }
  body img, body svg {
    width: 100%; }

.header-inner {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 900; }
  @media screen and (max-width: 960px) {
    .header-inner {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 20px 10px; } }

@media screen and (max-width: 960px) {
  .header__sitelogo {
    display: none; } }

.header-nav {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -100%;
  background-color: rgba(34, 34, 34, 0.95);
  width: 35%;
  height: 100vh;
  -webkit-transition: margin-right .3s;
  transition: margin-right .3s; }
  @media screen and (max-width: 960px) {
    .header-nav {
      width: 100%; } }

.header-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header-list__item {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.068em;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px; }

.header-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.3);
  z-index: 10;
  display: none; }

.header-nav.open {
  margin-right: 0; }

.header.black .header__sitelogo svg path {
  fill: #333; }

.hamburger {
  border: transparent;
  background: transparent;
  outline: none; }
  .hamburger-wrapper {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 999; }
  .hamburger__bar {
    position: relative;
    width: 25px;
    height: 2px;
    background-color: #fff; }
    .hamburger__bar::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff; }
    .hamburger__bar::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff; }
  .hamburger__txt {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.005em;
    margin-left: 8px; }

.hamburger.open .hamburger__bar {
  background-color: transparent; }
  .hamburger.open .hamburger__bar::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .hamburger.open .hamburger__bar::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.hamburger.black .hamburger__bar {
  background-color: #333; }
  .hamburger.black .hamburger__bar::before {
    background-color: #333; }
  .hamburger.black .hamburger__bar::after {
    background-color: #333; }

.hamburger.black .hamburger__txt {
  color: #333; }

.fv__txt, .fv__txt--en, .fv__txt--enBig {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  line-height: 0.85;
  margin-bottom: 10px; }

.fv-bg, .fv-bg--aboutpage, .fv-bg--contactpage {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 76%;
  height: 86%; }

.fv-wrapper, .fv-wrapper--half {
  height: 100vh;
  position: relative; }
  .fv-wrapper::before, .fv-wrapper--half::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    width: 52%;
    height: 100%;
    z-index: -1; }

.fv-wrapper--half {
  height: 60vh; }

.fv-bg {
  background-image: url("../img/fv-bg@2x.png"); }
  .fv-bg--aboutpage {
    background-image: url("../img/about/fv-bg@2x.png"); }
  .fv-bg--contactpage {
    background-image: url("../img/contact/fv-bg@2x.png"); }

.fv-copy {
  position: absolute;
  top: 200px;
  right: 16%; }
  @media screen and (max-width: 960px) {
    .fv-copy {
      right: 5%; } }

.fv__txt--en {
  font-family: "Montserrat", sans-serif; }

.fv__txt--enBig {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 1.2;
  text-transform: uppercase; }
  @media screen and (max-width: 580px) {
    .fv__txt--enBig {
      font-size: 4.8rem; } }

.more {
  border: transparent;
  background: transparent;
  outline: none; }
  .more-btn {
    display: block;
    width: 160px;
    min-height: 36px;
    line-height: 36px;
    background-color: #000;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    -webkit-transition: .5s;
    transition: .5s; }
    .more-btn:hover {
      opacity: 0.7; }

input[type="radio"] {
  display: none; }

.radio__label {
  position: relative;
  width: 10px;
  height: 10px;
  padding-left: 25px;
  margin-right: 40px;
  cursor: pointer; }
  .radio__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 50%; }
  .radio__label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3.4px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    opacity: 0; }

input[type="radio"]:checked + .radio__label::after {
  opacity: 1; }

input[type="checkbox"] {
  display: none; }

.checkbox__label {
  position: relative;
  width: 10px;
  height: 10px;
  padding-left: 25px;
  margin-right: 40px;
  cursor: pointer; }
  @media screen and (max-width: 580px) {
    .checkbox__label {
      font-size: 1rem;
      padding-top: 30px; } }
  .checkbox__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    border: 1px solid #333;
    width: 15px;
    height: 15px; }
  .checkbox__label::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 5px;
    height: 9px;
    margin-top: -7px;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0; }

input[type="checkbox"]:checked + .checkbox__label::after {
  opacity: 1; }

.footer {
  padding: 20px 30px;
  background-color: #525252; }
  .footer-copy {
    text-align: center;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    letter-spacing: 0.0015em; }

.noscroll {
  overflow: hidden; }

.bar {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cecece;
  margin-bottom: 10px; }

.about-wrapper, .wc-wrapper, .topics-wrapper, .contact-wrapper, .vision-wrapper, .ceo-wrapper, .company-wrapper, .contactForm-wrapper {
  max-width: 1100px;
  margin: 0 auto; }
  @media screen and (max-width: 960px) {
    .about-wrapper, .wc-wrapper, .topics-wrapper, .contact-wrapper, .vision-wrapper, .ceo-wrapper, .company-wrapper, .contactForm-wrapper {
      padding-left: 30px;
      padding-right: 30px; } }

.about__ttl, .wc__ttl, .topics__ttl, .contact__ttl, .vision__ttl, .ceo__ttl, .company__ttl {
  font-size: 3.2rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.068em;
  line-height: 3;
  text-transform: uppercase; }
  @media screen and (max-width: 960px) {
    .about__ttl, .wc__ttl, .topics__ttl, .contact__ttl, .vision__ttl, .ceo__ttl, .company__ttl {
      font-size: 2.4rem; } }

.about {
  position: relative; }
  .about::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #F0F0F0;
    z-index: -1; }
  .about-wrapper {
    padding-top: 120px;
    padding-left: 0;
    padding-right: 0; }
  .about-bg {
    background-image: url("../img/about-bg@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 607px;
    position: relative; }
  .about-content {
    position: absolute;
    top: 100px;
    left: 50px;
    max-width: 590px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 50px; }
    @media screen and (max-width: 960px) {
      .about-content {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 50px 30px; } }
    @media screen and (max-width: 580px) {
      .about-content {
        width: 290px; } }
  .about__txt {
    font-family: "Noto Sans JP", sans-serif;
    margin-bottom: 30px; }
    @media screen and (max-width: 960px) {
      .about__txt {
        font-size: 1.4rem; } }

.wc {
  background-color: #F0F0F0; }
  .wc-wrapper {
    padding-top: 80px;
    padding-bottom: 60px; }
  .wc-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 960px) {
      .wc-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  @media screen and (max-width: 960px) {
    .wc-list__item {
      margin-bottom: 30px; } }
  .wc__txt {
    margin: 30px 0; }

.topics-wrapper {
  padding-top: 120px;
  padding-bottom: 60px; }

.topics-list {
  max-width: 700px;
  margin-left: auto; }

.topics-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  margin-bottom: 30px; }

.topics time {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: 3.2;
  color: #cecece; }

.topics-link {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.004em; }

.topics .more {
  display: block;
  margin-left: auto; }

.contact {
  background-color: #F0F0F0; }
  .contact-wrapper {
    padding-top: 120px;
    padding-bottom: 120px; }
  .contact-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    @media screen and (max-width: 960px) {
      .contact .reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .contact-list__item:last-of-type {
    max-width: 450px; }
  .contact__txt {
    margin-bottom: 30px; }

.vision-wrapper {
  padding-top: 120px; }

.vision__subttl {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 30px; }

.vision-content {
  margin-left: 100px; }
  @media screen and (max-width: 960px) {
    .vision-content {
      margin: 0; } }

.vision__txt {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold; }

.ceo-wrapper {
  padding-top: 120px; }

.ceo-img {
  max-width: 420px;
  position: relative;
  top: 100px;
  left: 0; }

.ceo-content {
  max-width: 430px;
  background-color: #F0F0F0;
  padding: 120px 180px;
  margin-left: auto; }
  @media screen and (max-width: 960px) {
    .ceo-content {
      padding: 100px 50px; } }

.ceo__txt {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold; }

.company-wrapper {
  padding-top: 120px;
  padding-bottom: 120px; }

.table {
  max-width: 800px;
  margin-left: auto;
  margin-bottom: 40px; }
  .table__tr {
    border-bottom: 1px solid #cecece; }
  .table__th, .table__td {
    padding: 20px 0; }
  .table__th {
    white-space: nowrap;
    max-width: 150px; }
  .table__td {
    width: 100%;
    padding-left: 80px; }

.googlemap {
  min-height: 360px; }

.contactForm-wrapper {
  padding-top: 120px;
  padding-bottom: 120px; }

.contactForm .privacy__subttl {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

.contactForm .annotation {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px; }

.form .radio-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 580px) {
    .form .radio-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.form-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px; }

.form__label {
  font-weight: bold;
  padding-bottom: 10px; }

.form input[type="text"],
.form input[type="email"],
.form textarea {
  padding: 10px; }

.form__span {
  font-size: 1.2rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  background-color: #333;
  padding: 2px 5px;
  text-align: center; }

.privacy {
  margin-bottom: 30px; }
  .privacy__txt {
    border: 1px solid #333;
    padding: 10px;
    max-height: 250px;
    overflow: scroll; }

.confirm {
  text-align: center;
  margin-bottom: 30px; }

.submit {
  border: transparent;
  background: transparent;
  outline: none;
  display: block;
  margin: 0 auto;
  width: 160px;
  min-height: 36px;
  line-height: 36px;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .submit:hover {
    opacity: 0.7; }
