$bg-color: #fff;
$bg-color-secondary: #F0F0F0;
$footer-color: #525252;
$txt-color: #333;
// $txt-color-secondary: ;
// $txt-color-accent: ;

$ff: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$ff-secondary: 'Noto Sans JP', sans-serif;
$ff-accent: 'Montserrat', sans-serif;

$breakpoints: ('sm' : 'screen and (max-width: 580px)',
    'md' : 'screen and (max-width: 960px)',
);