@import "../setting/config";

input[type="checkbox"] {
    display: none;
}

.checkbox__label {
    position: relative;
    width: 10px;
    height: 10px;
    padding-left: 25px;
    margin-right: 40px;
    cursor: pointer;
    @include mq(sm) {
        font-size: 1rem;
        padding-top: 30px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%,-50%);
        border: 1px solid $txt-color;
        width: 15px;
        height: 15px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 5px;
        width: 5px;
        height: 9px;
        margin-top: -7px;
        border-right: 3px solid $txt-color;
        border-bottom: 3px solid $txt-color;
        transform: rotate(45deg);
        opacity: 0;
    }
}

input[type="checkbox"]:checked + .checkbox__label::after {
    opacity: 1;
}
