@import "../setting/config";

.footer {
    padding: 20px 30px;
    background-color: $footer-color;

    &-copy {
        text-align: center;
        font-size: 1rem;
        font-family: $ff-accent;
        color: #fff;
        letter-spacing: 0.0015em;

    }
}