@import "../setting/config";
@import "../mixin/responsive";

.header {
    &-inner {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px;
        box-sizing: border-box;
        z-index: 900;
        @include mq(md) {
            justify-content: flex-end;
            padding: 20px 10px;
        }
    }

    &__sitelogo {
        @include mq(md) {
            display: none;
        }
    }
    
    &-nav {
        position: fixed;
        top: 0;
        right: 0;
        margin-right: -100%;
        background-color: rgba(#222,.95);
        width: 35%;
        height: 100vh;
        transition: margin-right .3s;
        @include mq(md) {
            width: 100%;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    &-list__item {
        font-size: 2rem;
        font-family: $ff-accent;
        letter-spacing: 0.068em;
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }

    &-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(#222,.3);
        z-index: 10;
        display: none;
    }
}

//jQuery　アクション
.header-nav.open {
    margin-right: 0;
}

.header.black {
    .header__sitelogo svg path {
        fill: $txt-color;
    }

}