@import "../setting/config";

.more {
    border: transparent;
    background: transparent;
    outline: none;

    &-btn {
        display: block;
        width: 160px;
        min-height: 36px;
        line-height: 36px;
        background-color: #000;
        color: #fff;
        font-family: $ff-accent;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        transition: .5s;

        &:hover {
            opacity: 0.7;
        }
    }
}