@import "../setting/config";

input[type="radio"] {
    display: none;
}

.radio__label {
    position: relative;
    width: 10px;
    height: 10px;
    padding-left: 25px;
    margin-right: 40px;
    cursor: pointer;
    
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%,-50%);
        width: 15px;
        height: 15px;
        border: 1px solid $txt-color;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 3.4px;
        transform: translate(0%,-50%);
        width: 10px;
        height: 10px;
        background-color: $txt-color;
        border-radius: 50%;
        opacity: 0;
    }
}

input[type="radio"]:checked + .radio__label::after {
    opacity: 1;
}
